body {
  margin: 0;
  padding: 0;
  a,
  p {
    text-decoration: none;
    color: #666;
  }
  .layout {
    background: white;
    width: 90%;
    margin: auto;
    .content {
      background: white;
    }
    .footer {
      background: white;
    }
  }
}
